@using EPiServer.Web.Mvc.Html
@using EPiServer.SocialAlloy.Web.Social.Models.Groups
@model GroupAdmissionBlockViewModel
<div>
    <h2 @Html.EditAttributes(m => m.Heading)>@Model.Heading</h2>
    <hr />


    @if (!String.IsNullOrWhiteSpace(Model.SubmitSuccessMessage))
    {
        <div id="successMessage" style="color: green;">@Model.SubmitSuccessMessage</div>
    }
    @if (!String.IsNullOrWhiteSpace(Model.SubmitErrorMessage))
    {
        <div id="errorMessage" style="color: red;">@Model.SubmitErrorMessage</div>
    }
    @if (!String.IsNullOrWhiteSpace(Model.GroupName))
    {
        <h2>Membership submission request for @Model.GroupName group</h2>
        using (Html.BeginForm("Submit", "GroupAdmissionBlock", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.CurrentBlockLink)
            @Html.HiddenFor(m => m.CurrentPageLink)
            @Html.HiddenFor(m => m.PageId)
            <div>
                @Html.TextBoxFor(m => m.MemberName, new { @required = "require", @style = "width:75%;", @class = "form-control", placeholder = "User Name" })
                @Html.TextBoxFor(m => m.MemberEmail, new { @required = "require", @style = "width:75%;", @class = "form-control", placeholder = "User Email" })
                
            </div>
            <div>
                <input type="submit" name="submit" value="Join the @Model.GroupName group">
            </div>
        }
    }
    else
    {
        <div style="color: red;">A GROUP NAME MUST BE CONFIGURED TO USE THIS BLOCK</div>
    }
    <br />

</div>
