@using EPiServer.Web.Mvc.Html
@using EPiServer.SocialAlloy.Web


@model PageViewModel<EPiServer.SocialAlloy.Web.Social.Pages.CommunityPage>

@{ Layout = "~/Views/Shared/Layouts/_Root.cshtml"; }
@{Html.RenderPartial("Breadcrumbs", Model);}

<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span4">
                @{Html.RenderPartial("SubNavigation", Model);}
                @Html.PropertyFor(x => x.CurrentPage.Ratings)
                @Html.PropertyFor(x => x.CurrentPage.Subscriptions)
                @Html.PropertyFor(x => x.CurrentPage.Memberships)
                @Html.PropertyFor(x => x.CurrentPage.GroupAdmission)
            </div>
            <div class="span8">
                <h1 style="margin-top: 0;" @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h1>
                <p class="introduction" @Html.EditAttributes(x => x.CurrentPage.MetaDescription)>@Model.CurrentPage.MetaDescription</p>

                @Html.PropertyFor(x => x.CurrentPage.MainBody)
                @Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { CssClass = "row", Tag = Global.ContentAreaTags.TwoThirdsWidth })
                @Html.PropertyFor(x => x.CurrentPage.Comments)
            </div>
        </div>
    </div>
</div> 
