@using EPiServer.Web.Mvc.Html
@using EPiServer.SocialAlloy.Web


@model PageViewModel<EPiServer.SocialAlloy.Web.Social.Pages.SocialCommunityPage>

@{ Layout = "~/Views/Shared/Layouts/_Root.cshtml"; }
@{Html.RenderPartial("Breadcrumbs", Model);}

<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span4">
                @{Html.RenderPartial("SubNavigation", Model);}
                @Html.PropertyFor(x => x.CurrentPage.Ratings, new { CssClass = "row", Tag = Global.ContentAreaTags.TwoThirdsWidth })
                @Html.PropertyFor(x => x.CurrentPage.Subscriptions, new { CssClass = "row", Tag = Global.ContentAreaTags.TwoThirdsWidth })
                @Html.PropertyFor(x => x.CurrentPage.Memberships, new { CssClass = "row", Tag = Global.ContentAreaTags.TwoThirdsWidth })
                @Html.PropertyFor(x => x.CurrentPage.GroupAdmission, new { CssClass = "row", Tag = Global.ContentAreaTags.TwoThirdsWidth })
            </div>
            <div class="span8">
                <h1 style="margin-top: 0;" @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h1>
                <p class="introduction" @Html.EditAttributes(x => x.CurrentPage.MetaDescription)>@Model.CurrentPage.MetaDescription</p>

                <div class="span8 clearfix" @Html.EditAttributes(x => x.CurrentPage.MainBody)>
                    @Html.DisplayFor(m => m.CurrentPage.MainBody)
                </div>
                @Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { CssClass = "row", Tag = Global.ContentAreaTags.TwoThirdsWidth })
                @Html.PropertyFor(x => x.CurrentPage.Comments, new { CssClass = "row", Tag = Global.ContentAreaTags.TwoThirdsWidth })
            </div>
        </div>
    </div>
</div>
