@using EPiServer.Web.Mvc.Html
@using EPiServer.SocialAlloy.Web.Social.Models

@model FeedBlockViewModel

<div>
    @if (Model.ShowHeading)
    {
        <h2 @Html.EditAttributes(x => x.Heading)>@Model.Heading</h2>
        <hr />
    }

    <div style="margin-top:0.5em">
    @if (this.User.Identity.IsAuthenticated)
    {
        if (!String.IsNullOrWhiteSpace(Model.DisplayErrorMessage))
        {
            <div style="color: red;">@Model.DisplayErrorMessage</div>
        }
        else if (Model.Feed.Count() > 0)
        {
            <h3>Your Activity feed</h3>
            <br />
            foreach (var feedItem in Model.Feed)
            {
                <div>
                    <strong>@feedItem.Heading</strong><br />
                    <small>@feedItem.ActivityDate.ToLocalTime()</small>
                    @if (!String.IsNullOrWhiteSpace(feedItem.Description))
                    {
                        <p>@feedItem.Description</p>
                    }
                </div>
                <br />
            }
        }
    }
    </div>
</div>